body {
    margin: 0;

}


h1 {
    margin-top: 0;
}

.top-container {
    background-color: #e8ffff;

}

.middle-container {
    background-color: aqua;
    height: 200px;
    width: 200px;
    position: relative;
    display: inline-block;
    position: relative;
    left: 200px;

    
    
}

.bottom-container {
    background-color: violet;
    height: 200px;
    width: 200px;
    display: inline-block;
    position: relative;
    right: 200px;
}

.pro {
    text-decoration: underline;
}
